<h3>Please change the details to be updated for <%= @contact.full_name %>:</h3>
<br>
<br>
<%= form_for(@contact) do |f| %>

  <%= f.label :first_name %><br>
  <%= f.text_field :first_name %>
  <br>
  <%= f.label :last_name %><br>
  <%= f.text_field :last_name %>
  <br>
  <%= f.label :email %><br>
  <%= f.text_field :email %>
  <br>
  <%= f.label :note %><br>
  <%= f.text_field :note %>
  <br>
  <br>
  <%= f.submit "Edit contact" %>

<% end %>
