<!DOCTYPE html>
<html>
  <head>
    <title>RailsCRM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <h1><%= @header %></h1>
    </header>

    <main>
      <nav>
        <a href="/">Home</a>
        <a href="/add_contact">Add a contact</a>
        <a href="/about">About</a>
      </nav>
      <%= yield %>
    </main>

    <footer>
      <br>
      <p>&copy; Don Cooper 2017</p>
      <br>
    </footer>

  </body>
</html>
